/*
  Глобальні стилі
*/

/* Сброс стандартных отступов и настройка блочной модели для всех элементов */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Сброс отступов у body */
body {
  margin: 0;
}

/* Сброс отступов и внутренних отступов у заголовков, параграфов и списков */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

/* Наследование цвета у ссылок */
a {
  color: inherit;
}

/* Наследование цвета, шрифта и размера шрифта у кнопок и полей ввода */
button,
input {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
}

/* Сброс стилей списков */
ul,
ol {
  list-style: none;
}

/* Класс для скрытия элементов, но оставления их доступными для скринридеров */
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
